/* Author: Joseph Ayo
   Assignment 3.2 - CSD 340 */
   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

   body {
       background-color: #979797ba; /* Light grey background */
       text-align: center; /* Centers text content */
       margin: 0;
       padding: 0;
   }
   
   #container {
       margin-top: 50px;
       margin-left: auto;
       margin-right: auto;
       width: 80%; /* Keeps content centered */
       
   }
   
   /* Styling for h1, h2, h3, h4 */
   h1, h2, h3, h4 {
       background-color: #4CAF50; 
       color: white; 
       border: 1px solid #031407; 
       padding: 10px;
       font-family: 'Roboto', sans-serif;
       font-size: 20px; /* Base font size increase */
   }
   
   h1 {
       font-size: 40px; 
       font-weight: bold; /* Bold h1 */
   }
   
   h2 {
       font-size: 36px; 
       display: inline-block;
   }
   ul {
    list-style-type: none;
    padding: 0; 
}
   h3 {
       font-size: 30px;
       display: inline-block; 
   }
   
   h4 {
       font-size: 26px; 
       display: inline-block;
   }
   
   h2::before {
       content: "";
       display: block;
       width: 150px;
       height: 150px;
       background-image: url('Gallery/image0.jpg'); /* Image path */
       background-image: url('Gallery/image1.jpg'); /* Image path */
       background-size: cover;
       background-position: center;
       margin: 0 auto 20px;
   }
   
   a {
       color: #4CAF50;
       text-decoration: none; 
   }
   
   a:hover {
       color: #D6A800; 
   }
   
   a:visited {
       color: #2E8B57; 
   }
   